In [1]:
import pandas as pd 
df = pd.read_csv("ev_charging_patterns.csv")

In [2]:
# Data Overview 

df.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,01/01/2024 00:00,01/01/2024 00:39,60.712346,36.389181,13.087717,Evening,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,01/01/2024 01:00,01/01/2024 03:01,12.339275,30.677735,21.128448,Morning,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,01/01/2024 02:00,01/01/2024 04:48,19.128876,27.513593,35.667270,Morning,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,01/01/2024 03:00,01/01/2024 06:42,79.457824,32.882870,13.036239,Evening,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,01/01/2024 04:00,01/01/2024 05:46,19.629104,10.215712,10.161471,Morning,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User ID                                   1320 non-null   object
 1   Vehicle Model                             1320 non-null   object
 2   Battery Capacity (kWh)                    1320 non-null   float64
 3   Charging Station ID                       1320 non-null   object
 4   Charging Station Location                 1320 non-null   object
 5   Charging Start Time                       1320 non-null   object
 6   Charging End Time                         1320 non-null   object
 7   Energy Consumed (kWh)                     1254 non-null   float64
 8   Charging Rate (kW)                        1254 non-null   float64
 9   Charging Cost (USD)                       1320 non-null   float64
 10  Time of Day                               1320 non-null   object
 11  State of Charge (Start %)                 1320 non-null   float64
 12  State of Charge (End %)                   1320 non-null   float64
 13  Distance Driven (since last charge) (km)  1254 non-null   float64
 14  Temperature (°C)                          1320 non-null   float64
 15  Vehicle Age (years)                       1320 non-null   float64
 16  Charger Type                              1320 non-null   object
 17  User Type                                 1320 non-null   object
dtypes: float64(9), object(9)
memory usage: 185.8+ KB

In [4]:
df.describe()

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years)
count,1320.000000,1254.000000,1254.000000,1320.000000,1320.000000,1320.000000,1254.000000,1320.000000,1320.000000
mean,74.534692,42.642894,25.963003,22.551352,49.130012,75.141590,153.596788,15.263591,3.612843
std,20.626914,22.411705,14.011326,10.751494,24.074134,17.080580,86.004987,14.831216,2.309824
min,1.532807,0.045772,1.472549,0.234317,2.325959,7.604224,0.862361,-10.724770,0.000000
25%,62.000000,23.881193,13.856583,13.368141,27.786903,62.053266,79.445335,2.800664,2.000000
50%,75.000000,42.691405,25.603799,22.076360,48.241771,75.682496,152.259867,14.630846,4.000000
75%,85.000000,61.206218,37.502998,31.646044,69.277921,88.201370,226.073284,27.981810,6.000000
max,193.003074,152.238758,97.342255,69.407743,152.489761,177.708666,398.364775,73.169588,11.688592

In [5]:
df.describe(include = 'object')

,User ID,Vehicle Model,Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Time of Day,Charger Type,User Type
count,1320,1320,1320,1320,1320,1320,1320,1320,1320
unique,1320,5,462,5,1320,1309,4,3,3
top,User_1,Tesla Model 3,Station_108,Los Angeles,01/01/2024 00:00,04/01/2024 16:26,Evening,Level 1,Commuter
freq,1,280,9,297,1,2,362,459,476

In [6]:
df.describe(include = 'all')

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
count,1320,1320,1320.000000,1320,1320,1320,1320,1254.000000,1254.000000,1320.000000,1320,1320.000000,1320.000000,1254.000000,1320.000000,1320.000000,1320,1320
unique,1320,5,NaN,462,5,1320,1309,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,3,3
top,User_1,Tesla Model 3,NaN,Station_108,Los Angeles,01/01/2024 00:00,04/01/2024 16:26,NaN,NaN,NaN,Evening,NaN,NaN,NaN,NaN,NaN,Level 1,Commuter
freq,1,280,NaN,9,297,1,2,NaN,NaN,NaN,362,NaN,NaN,NaN,NaN,NaN,459,476
mean,NaN,NaN,74.534692,NaN,NaN,NaN,NaN,42.642894,25.963003,22.551352,NaN,49.130012,75.141590,153.596788,15.263591,3.612843,NaN,NaN
std,NaN,NaN,20.626914,NaN,NaN,NaN,NaN,22.411705,14.011326,10.751494,NaN,24.074134,17.080580,86.004987,14.831216,2.309824,NaN,NaN
min,NaN,NaN,1.532807,NaN,NaN,NaN,NaN,0.045772,1.472549,0.234317,NaN,2.325959,7.604224,0.862361,-10.724770,0.000000,NaN,NaN
25%,NaN,NaN,62.000000,NaN,NaN,NaN,NaN,23.881193,13.856583,13.368141,NaN,27.786903,62.053266,79.445335,2.800664,2.000000,NaN,NaN
50%,NaN,NaN,75.000000,NaN,NaN,NaN,NaN,42.691405,25.603799,22.076360,NaN,48.241771,75.682496,152.259867,14.630846,4.000000,NaN,NaN
75%,NaN,NaN,85.000000,NaN,NaN,NaN,NaN,61.206218,37.502998,31.646044,NaN,69.277921,88.201370,226.073284,27.981810,6.000000,NaN,NaN
max,NaN,NaN,193.003074,NaN,NaN,NaN,NaN,152.238758,97.342255,69.407743,NaN,152.489761,177.708666,398.364775,73.169588,11.688592,NaN,NaN

In [7]:
# Handling missing values and duplicates 

df.duplicated().sum()

np.int64(0)

In [8]:
df.isnull().sum()

User ID                                      0
Vehicle Model                                0
Battery Capacity (kWh)                       0
Charging Station ID                          0
Charging Station Location                    0
Charging Start Time                          0
Charging End Time                            0
Energy Consumed (kWh)                       66
Charging Rate (kW)                          66
Charging Cost (USD)                          0
Time of Day                                  0
State of Charge (Start %)                    0
State of Charge (End %)                      0
Distance Driven (since last charge) (km)    66
Temperature (°C)                             0
Vehicle Age (years)                          0
Charger Type                                 0
User Type                                    0
dtype: int64

In [13]:
# Missing Data handled uding group - wise median imputation 

df['Charging Rate (kW)'] = df.groupby('Vehicle Model')['Charging Rate (kW)'].transform(lambda x: x.fillna(x.median()))

In [10]:
df['Energy Consumed (kWh)'] = df.groupby('Vehicle Model')['Energy Consumed (kWh)'].transform(lambda x: x.fillna(x.median()))

In [11]:
df['Distance Driven (since last charge) (km)'] = df.groupby('Vehicle Model')['Distance Driven (since last charge) (km)'].transform(lambda x: x.fillna(x.median()))

In [14]:
df.isnull().sum()

User ID                                     0
Vehicle Model                               0
Battery Capacity (kWh)                      0
Charging Station ID                         0
Charging Station Location                   0
Charging Start Time                         0
Charging End Time                           0
Energy Consumed (kWh)                       0
Charging Rate (kW)                          0
Charging Cost (USD)                         0
Time of Day                                 0
State of Charge (Start %)                   0
State of Charge (End %)                     0
Distance Driven (since last charge) (km)    0
Temperature (°C)                            0
Vehicle Age (years)                         0
Charger Type                                0
User Type                                   0
dtype: int64

In [15]:
# Datatype change 

df['Charging Start Time'] = pd.to_datetime(df['Charging Start Time'], dayfirst=True, errors='coerce')

In [16]:
df['Charging End Time'] = pd.to_datetime(df['Charging End Time'], dayfirst=True, errors='coerce')

In [17]:
df[['Charging Start Time', 'Charging End Time']].head(10)

  Charging Start Time   Charging End Time
0 2024-01-01 00:00:00 2024-01-01 00:39:00
1 2024-01-01 01:00:00 2024-01-01 03:01:00
2 2024-01-01 02:00:00 2024-01-01 04:48:00
3 2024-01-01 03:00:00 2024-01-01 06:42:00
4 2024-01-01 04:00:00 2024-01-01 05:46:00
5 2024-01-01 05:00:00 2024-01-01 07:10:00
6 2024-01-01 06:00:00 2024-01-01 07:53:00
7 2024-01-01 07:00:00 2024-01-01 10:42:00
8 2024-01-01 08:00:00 2024-01-01 09:21:00
9 2024-01-01 09:00:00 2024-01-01 12:44:00

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User ID                                   1320 non-null   object
 1   Vehicle Model                             1320 non-null   object
 2   Battery Capacity (kWh)                    1320 non-null   float64
 3   Charging Station ID                       1320 non-null   object
 4   Charging Station Location                 1320 non-null   object
 5   Charging Start Time                       1320 non-null   datetime64[ns]
 6   Charging End Time                         1320 non-null   datetime64[ns]
 7   Energy Consumed (kWh)                     1320 non-null   float64
 8   Charging Rate (kW)                        1320 non-null   float64
 9   Charging Cost (USD)                       1320 non-null   float64
 10  Time of Day                               1320 non-null   object
 11  State of Charge (Start %)                 1320 non-null   float64
 12  State of Charge (End %)                   1320 non-null   float64
 13  Distance Driven (since last charge) (km)  1320 non-null   float64
 14  Temperature (°C)                          1320 non-null   float64
 15  Vehicle Age (years)                       1320 non-null   float64
 16  Charger Type                              1320 non-null   object
 17  User Type                                 1320 non-null   object
dtypes: datetime64[ns](2), float64(9), object(7)
memory usage: 185.8+ KB

In [19]:
# Creation of column - Charging Duration

df['Charging Duration'] = (df['Charging End Time'] - df['Charging Start Time']).dt.total_seconds() / 60

In [20]:
df[['Charging Duration']].head()

   Charging Duration
0               39.0
1              121.0
2              168.0
3              222.0
4              106.0

In [21]:
# Fixing outliers / Invalid values 
# 1.Charging Duration 

df = df[df['Charging Duration'] >= 0]

In [22]:
# 2.State of Charge (Start %)

df.loc[df['State of Charge (Start %)'] > 100, 'State of Charge (Start %)'] = 100

In [24]:
# 3.State of Charge (End %)

df.loc[df['State of Charge (End %)'] > 100, 'State of Charge (End %)'] = 100

In [25]:
# Creating Calculate field (for tableau)
# 1.Charging Duration - Already created
# 2.State of Charge (Change %) 

df['State of Charge (Change %)'] = df['State of Charge (End %)'] - df['State of Charge (Start %)']

In [26]:
df[['State of Charge (Change %)']].head()

   State of Charge (Change %)
0                   56.748386
1                   74.548566
2                   63.063011
3                   16.504325
4                    9.484836

In [27]:
# 3. Charging rate (kW)

df['Charging Rate kW'] = df['Energy Consumed (kWh)'] / (df['Charging Duration'] / 60)

In [28]:
df.to_csv("ev_charging_patterns_cleaned.csv", index=False)